# Extraer datos financieros desde la yahoo Finance

Para eso buscaremos los indicardores que queremos extraer

In [1]:
from  datetime import datetime as dt
import requests

In [2]:
#Con esta libreria obtenenos la fecha actual
now=dt.utcnow()

In [3]:
now

datetime.datetime(2021, 1, 19, 23, 13, 33, 283093)

In [4]:
#optenemos los datos en formato numerico
now.timestamp()

1611108813.283093

In [11]:
#definimos las fechas de entrada y salida
#importante notar que a√±o es Y y no y
start = dt.strptime('01-01-1990', '%d-%m-%Y').timestamp()
fin = now.timestamp()

In [12]:
#convertidos a valor numerico por un resultado string
start = int(start)
fin = int(fin)

In [13]:
start

631162800

In [14]:
fin

1611108813

In [16]:
#verificamos que la fecha inicio es menor que la fecha final
start<fin

True

In [19]:
#Utilizamos el mestodo Sesions para decir al navegador que guarde mis datos por un momneto
s = requests.Session()

#aca esta la URL a revisar del SP500 o 5EGSPC 


https://query1.finance.yahoo.com/v7/finance/download/%5EGSPC?period1=1579474998&period2=1611097398&interval=1d&events=history&includeAdjustedClose=true

In [21]:
#definimos la variable donde guardamos el indice que queremos ver
indice = '%5EGSPC'
url ='https://finance.yahoo.com/quote/{}/history'.format(indice)
s.get(url)

In [23]:
#guardamos en una variable la respuesta a la visita de la pagina
res = s.get(url)

In [38]:
#importamos re para poder rastrear texto dentro del codigo, 
#luego guaramos la variable del Crumb que es el identificador de la visita que realizamos al a pagina

import re
crumb = re.findall('"CrumbStore":{"crumb":"(.+?)"}',res.text)[0]
crumb

'KD.Sa0JK\\u002FEP'

In [42]:
#traemos la url con el sitio, recordar que :d india que recibirar valores numericos
api='https://query1.finance.yahoo.com/v7/finance/download/%5EGSPC?period1={:d}&period2={:d}&interval=1d&events=history&includeAdjustedClose=true'.format(start,fin)

#ahora guardamos esta api en una nueva variable
res2 = s.get(api)

In [75]:
from io import StringIO
import pandas as pd

In [78]:
df = pd.read_csv(io.StringIO(res2.text))

In [80]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1990-01-02,353.399994,359.690002,351.980011,359.690002,359.690002,162070000
1,1990-01-03,359.690002,360.589996,357.890015,358.760010,358.760010,192330000
2,1990-01-04,358.760010,358.760010,352.890015,355.670013,355.670013,177000000
3,1990-01-05,355.670013,355.670013,351.350006,352.200012,352.200012,158530000
4,1990-01-08,352.200012,354.239990,350.540009,353.790009,353.790009,140110000

In [82]:
df["Date"].min()

'1990-01-02'